# Byte-compiled / optimized / DLL files
# https://github.com/github/gitignore/blob/master/Python.gitignore

__pycache__/

*.py[cod]

*$py.class

# image output. No need to commit that
graphics_*

# log output
all_events.log
