# Byte-compiled / optimized / DLL files
# https://github.com/github/gitignore/blob/master/Python.gitignore

__pycache__/

# Spyder Project structure
.spyproject/

*.py[cod]

*$py.class

# image output. No need to commit that
images/*

# log output. No need to commit it
log/all_events.log
